<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Usuario</ion-label>
          <ion-input [(ngModel)]="username" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nivel de Educación</ion-label>
          <ion-input [(ngModel)]="educationLevel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha de Nacimiento</ion-label>
          <ion-datetime [(ngModel)]="birthDate"></ion-datetime>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="danger" (click)="clearFields()">Limpiar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="showInfo()">
